/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}*/

.wrapper {
  max-width: 1080px;
  width: 95%;
  margin: 0 auto;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}

.App-title:hover {
  text-decoration: none;
  color: #BBB
}

.App-intro {
  font-size: large;
}

.movieCard {
  margin: 25px;
  padding: 10px;
  box-sizing: border-box;
  background: #DDD;
  border-radius: 8px;
  box-shadow: 0 2px 2px #777;
}

.movieCard:hover {
  background: #BBB;
  cursor: pointer;
}

.pageTitle {
  background: #EEE;
}

.postCard {
  margin: 15px;
  padding: 10px;
  box-sizing: border-box;
  background: #F6F6F6;
  border-radius: 8px;
  box-shadow: 0 2px 2px #777;
}

.postCard:hover {
  background: #999;
  cursor: pointer;
}

.commentCard {
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
  background: #F6F6F6;
  border-radius: 8px;
  box-shadow: 0 2px 2px #777;
}

.preferencesCard {
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 2px #777;
  background: #CCC;
}

.preferencesCard button {
  margin: 5px 0;
}

.plusIcon:hover {
  fill: #5A5;
}

.minusIcon:hover {
  fill: #A55;
}

.text-center {
  text-align: center;
}

.center {
  margin: 0 auto;
}

.secondary {
  font-size: 1.35rem;
  color: #555;
}

.tertiary {
  font-size: 1.25rem;
  color: #888;
}

button.vote {
  width: 100%;
  border: none;
  background: none;
  cursor: pointer;
}

#scoreNet {
  margin: 5px 0px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
