.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
  text-decoration: none;
  color: white;
}

.App-intro {
  font-size: large;
}

.movieCard {
  box-sizing: border-box;
  margin: 0 auto;
  width: 60%;
  background: #DDD;
  border-radius: 8px;
  box-shadow: 0 2px 2px #777;
}

.movieCard:hover {
  background: #BBB;
  cursor: pointer;
}

.postCard {
  box-sizing: border-box;
  margin: 0 auto;
  width: 60%;
  background: #F6F6F6;
  border-radius: 8px;
  box-shadow: 0 2px 2px #777;
}

.postCard:hover {
  background: #999;
  cursor: pointer;
}

.commentCard {
  box-sizing: border-box;
  margin: 0 auto;
  width: 60%;
  background: #F6F6F6;
  border-radius: 8px;
  box-shadow: 0 2px 2px #777;
}

.plusIcon:hover {
  fill: #5A5;
}

.minusIcon:hover {
  fill: #A55;
}

button.vote {
  border: none;
  background: none;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
